{% extends 'base.html' %} {% block body %}
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="contianer">
                <h2 class="form-title">Active Elections</h2>
                {% if VoteList|length==0 %}
                    <p style="padding: 2px;">No Elections Found!!</p>
                {% else %}
                    <ol style="font-size:25px;">
                        {% for list in VoteList %}
                            {% if list.IsOpen %}
                                <li><a href="/castVote/{{ list.ElectionName }}">{{list.ElectionName}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>  
        </div>
    </div>
</section>
{% endblock%}