{% extends 'base.html' %}
{% block title %}
Admin Login
{% endblock %}

{% block body %}
<!-- Sing in  Form -->
<section class="sign-in">
    <a name="section1"></a>
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="{{url_for('static',filename='images/signin-image.jpg')}}" alt="sing up image">
                </figure>
                <br>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Admin Login</h2>
                <form method="POST" class="register-form" id="login-form" action="/adminlogin">
                    <div class="form-group">
                        <input type="text" name="userName" id="userName" placeholder="User Name" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" placeholder="Password" />
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock%}
