{% extends 'base.html' %}
{% block title %}
Audit Election
{% endblock %}
{% block body %}
<div class="container-fluid">   
  <form method="POST" class="register-form" id="login-form"action="/verfiyElection/{{ ElectionName }}">      
      <h3>MAC LIST</h3>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">VoterID</th>
            <th scope="col">Prevmac</th>
            <th scope="col">NewMac</th>
          </tr>
        </thead>
        <tbody>
          {% for data in VoteData %}
            <tr>
                <td>{{ data.VoterId }}</td>
                <td>{{ data.PrevMac }}</td>
                <td>{{ data.NewMac }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
        <div class="form-group form-button ">
          <button class="btn btn-outline-success" type="submit" name="success" id="success">
            Verify Election
          </button>
          </div>
  </form>
</div>

{% endblock %}
