<html>

<head>
    {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon"
        href="https://cdn.clipart.email/68d68dbab9f7617f293b6f28b934a641_elections-election-icons-envelope-election-votes-box-signs-_800-800.svg"
        type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <header class="fixed-header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark sticky-top">
            <a class="navbar-brand" href="/">E-Voting{{ session['IsAdmin'] }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">

                    {% if request.path=="/ActiveElections" or ('Election' in request.path) %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/ElectionList">Elections<span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/ElectionList">Elections</a>
                    </li>
                    {% endif %}

                    {% if request.path=="/results" %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/results">Results<span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/results">Results</a>
                    </li>
                    {% endif %}

                    {% if request.path=="/audit" %}
                    <li class="nav-item  active">
                        <a class="nav-link active" href="#">Audit<span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Audit</a>
                    </li>
                    {% endif %}

                </ul>
                {% if session['logged_in'] %}
                <ul class="navbar-nav mr-1 mt-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">{{ session['UserName'] }}</a>
                    </li>
                </ul>
                <div class="form-inline mt-2 mr-2 ">
                    <form action="/logout">
                        <button type="submit" class="btn btn-outline-secondary">Logout</button>
                    </form>
                </div>
                {% else %}
                <div class="form-inline mt-2 mr-2  ">
                    <form action="/adminlogin">
                        <button type="submit" class="btn btn-outline-primary">Admin</button>
                    </form>
                </div>
                <div class="form-inline mt-2 mr-2 ">
                    <form action="/login">
                        <button type="submit" class="btn btn-outline-primary">Login</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="flash">
        <center>
            <div class="{{ category }}">{{ message }}</div>
        </center>
    </div>
    {% endfor %}
    {% endwith %}

    {% block body %}{% endblock %}

    <script>
        setTimeout(() => {
            if (document.getElementsByClassName("flash")[0]) {
                document.getElementsByClassName("flash")[0].remove();
            }

        }, 2000)
    </script>
    
</body>

</html>