{% extends 'base.html' %} {% block body %}

<div class="main">
    <section class="sign-in">
        <a name="section1"></a>
        <div class="container" style="background-color: pink;">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="https://media0.giphy.com/media/l3vRka7ZGuoW0ySPu/giphy.gif?cid=790b7611d7e0259a5b718ab2f1f1d7f01121b51a02d71944&rid=giphy.gif" alt="sign up image"></figure>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}